header {
    text-align:center;
}

a {
    font-family:arial;
    font-size:20px;
    text-align:center;
}

h1 {
    text-align:center;
    font-size:50px;
    font-family:Arial;
}
footer {
    background:black;
    color:white;
}

.footertext {
    font-family:arial;
    font-size:20px;
}

img {
    margin-left: 450px;
}

body {
    background:rgb(221, 255, 169)
}

