body {
    font-family: sans-serif;
}

header {
    background-color: rgb(181, 241, 179);
    padding: 20px;
}

header a {
    color: black;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
}

header img {
    width: 120px;
    height: 100px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    background-color:  rgb(181, 241, 179);
    color:black;
    font-size: 30px;
    padding: 10px;
}

main p {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border: 1px solid navy;
    border-radius: 15px;
}

p img {
    height: 150px;
    width: 200px;
}

footer {
    background-color: #508a63;
    padding: 10px;
}

footer p {
    background-color: white;
    padding: 5px;
}

.sigma {
    border: 1px solid #ffffff;
    background-color:#ffffff;
}

.gabenest {
    background-color:navy;
    color:white;
}
